
/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

main {
    min-height: 1000/20em;
}

/* Mobile */
@media only screen and (min-width: 0em) {

    #hero {
        font-size: inherit;
        padding-bottom: 270/20em;
        padding-top: 100/20em;
        position: relative;
        z-index: 1;
        background: url("/images/landing-mobile1.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: #ECEFFE;
            opacity: .45;
            top: 0;
            left: 0;
            z-index: -10;
        }

        .hero-content {
            width: 96%;
            max-width: 1144/20em;
            margin: auto;
            position: relative;
            z-index: 10;
        }

        .hero-content {
            padding: 0;
        }

        .heroText {
            width: 100%;
        }

        h1 {
            font-weight: bold;
            font-size: 56/20em;
            color: #000000;
            line-height: 66/56;
            margin-bottom: 23/56em;
            font-family: 'Fuzzy Bubbles', cursive;
            text-align: center;
        }

        p {
            font-size: 18/20em;
            line-height: 27/18;
            margin-bottom: 24/18em;
            color: #000;
            text-align: center;
        }

        .buttons {
            display: flex;
            justify-content: center;
        }

        .button-solid {
            margin: 0;
            height: 53/18em;
            padding-top: 3/18em;
        }
    }
    
}

/* Tablet */
@media only screen and (min-width: 48em) {

    #hero {
        padding: 123/20em 0 229/20em 0;
        z-index: 1;
        overflow: hidden;
        background: url("/images/landing.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .hero-content {
            display: flex;
            justify-content: space-between;
            position: relative;
        }

    }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {

    #hero {
        padding-top: 300/20em;
        padding-bottom: 280/20em;
        background-attachment: fixed;

        .business-casual {
            right: 50/20em;
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {

    #services {
        padding-top: 0;
        margin-top: -120/20em;
        display: flex;
        flex-direction: column-reverse;
        z-index: 100;
        position: relative;
        .service {
            background: #fff;
            padding: 42/20em;
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 21/20em;

            .circle{
                height: 100/20em;
                width: 100/20em;
                background: var(--primary);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 85/20em;
                }
            }

            &:nth-of-type(2) {
                border-top: 7/20em solid #FFF2B3;
            }

            &:nth-of-type(2) {
                background: #fff;
                width: 100%;
                order: 1;
                margin-bottom: 0;

            }

            &:nth-of-type(3) {
                margin-bottom: 0;

            }

            h2 {
                color: #000;
                font-size: 28/20em;
                line-height: 28/28;
                margin-bottom: 15/28em;
                margin-top: 15/28em;
                text-align: center;
                font-weight: 900;

            }

            p {
                color: #000;
                font-size: 18/20em;
                line-height: 27/18;
                text-align: center;
                margin-bottom: 30/18em;
                opacity: 1;
            }

        }
    }
}

/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {

    #services {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .service {
            &:nth-of-type(1) {
                border-right: 1/20em solid rgba(255, 255, 255, .05);
            }
            &:nth-of-type(1), &:nth-of-type(3) {
                width: 50%;
                border-radius: 0;
            }

            &:nth-of-type(2) {
                order: -1;

                h2, p {
                    text-align: center;
                    max-width: 400/20em;
                    margin-left: auto;
                    margin-right: auto;
                }

                .button-solid {
                    margin: auto;
                    display: block;
                }
            }
        }
    }
}

/* Tablet */
@media only screen and (min-width: 791px) {

    #services {
        flex-direction: row;
        align-items: flex-end;
        width: 96%;
        max-width: 1144/20em;
        margin: auto;
        margin-top: -130/20em;
        position: relative;
        z-index: 100;
        padding: 0;

        .service {
            margin: 0;
            width: 372/20em;
            height: 100%;
            border-radius: 0;
            border-top: 7/20em solid #FFF2B3;

            &:nth-of-type(2) {
                order: initial;
                width: 400/20em;
                height: 100%;
                border: none;
                box-shadow: none;
                border-top: 7/20em solid #FFF2B3;
                margin-top: 0;
                margin-bottom: auto;
            }

            // &:last-of-type {
            //     border-radius: 5/20em 5/20em 0 0;
            // }
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {

    #services {
        .service {
            &:nth-of-type(2) {
                box-shadow: none;
            }
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---         About Me           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {

}

/* Tablet */
@media only screen and (min-width: 48em) {

}

/* Small Desktop */
@media only screen and (min-width: 64em) {

}

/* Large Desktop */
@media only screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---      Landing Creations     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {

    #landingCreation{
        position: relative;
    }
    .creations{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(/images/angelabackground.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        h2{
            text-align: center;
            font-family: 'Fuzzy Bubbles', cursive;
        }
        
        .creationPics{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30/20em;
            margin-bottom: 40/20em;
            z-index: 1;
        }
        
        p{
            text-align: center;
            padding: 10/20em 20/20em;
        }

        .button-solid{
            margin: 40/20em auto;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48em) {

}

/* Small Desktop */
@media only screen and (min-width: 64em) {


}

/* Large Desktop */
@media only screen and (min-width: 1300px) {

}

// *{
//     outline: 1px solid red;
// }