/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding-bottom: 13.5em;
    padding-top: 5em;
    position: relative;
    z-index: 1;
    background: url("/images/landing-mobile1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #e4e3e3;
    opacity: .65;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero .hero-content {
    width: 96%;
    max-width: 45em;
    margin: auto;
    position: relative;
    z-index: 10;
  }
  #hero .hero-content {
    padding: 0;
  }
  #hero .heroText {
    width: 100%;
  }
  #hero h1 {
    font-weight: bold;
    font-size: 2.8em;
    color: var(--secondary);
    line-height: 1.17857143;
    margin-bottom: 0.41071429em;
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: center;
  }
  #hero p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.33333333em;
    color: var(--secondary);
    text-align: center;
  }
  #hero .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
  }
  #hero .button-solid {
    margin: 0;
    height: 2.94444444em;
    padding-top: 0.16666667em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 6.15em 0 11.45em 0;
    z-index: 1;
    overflow: hidden;
    background: url("/images/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 15em;
    padding-bottom: 14em;
    background-attachment: fixed;
  }
  #hero .business-casual {
    right: 2.5em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .serviceBackground {
    background: url('/images/angelabackgroundabout.0.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  #services {
    padding-top: 0;
    margin-top: -6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    z-index: 100;
    position: relative;
  }
  #services .service {
    background: #fff;
    padding: 2.1em;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1.05em;
  }
  #services .service .circle {
    height: 5em;
    width: 5em;
    background: var(--primary);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #services .service .circle img {
    width: 4.25em;
  }
  #services .service:nth-of-type(2) {
    border-top: 0.35em solid #fff2b3;
  }
  #services .service:nth-of-type(2) {
    background: #fff;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  #services .service:nth-of-type(3) {
    margin-bottom: 0;
  }
  #services .service h2 {
    color: #000;
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: 0.53571429em;
    margin-top: 0.53571429em;
    text-align: center;
    font-weight: 900;
  }
  #services .service p {
    color: #000;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1.66666667em;
    opacity: 1;
  }
}
/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {
  #services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(1) {
    border-right: 0.05em solid rgba(255, 255, 255, 0.05);
  }
  #services .service:nth-of-type(1),
  #services .service:nth-of-type(3) {
    width: 50%;
    border-radius: 0;
  }
  #services .service:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #services .service:nth-of-type(2) h2,
  #services .service:nth-of-type(2) p {
    text-align: center;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(2) .button-solid {
    margin: auto;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 791px) {
  #services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    margin-top: -6.5em;
    position: relative;
    z-index: 100;
    padding: 0;
  }
  #services .service {
    margin: 0;
    width: 18.6em;
    height: 100%;
    border-radius: 0;
    border-top: 0.35em solid #fff2b3;
  }
  #services .service:nth-of-type(2) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    width: 18.6em;
    height: 100%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 0.35em solid #fff2b3;
    margin-top: 0;
    margin-bottom: auto;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services .service:nth-of-type(2) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---         About Me           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .about {
    margin-top: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(/images/angelabackgroundabout.0.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 5em 2em;
  }
  .about .aboutContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .about .aboutText p {
    text-align: center;
  }
  .about .aboutText img {
    display: none;
  }
  .about .picOfMe {
    border-radius: 50%;
    width: 80%;
    aspect-ratio: 1;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 22.5em;
    z-index: 1;
  }
}
/*fix 500px paragraph padding*/
@media only screen and (min-width: 500px) {
  .about p {
    padding: 0 1em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .about {
    padding: 5em 2em;
  }
  .about .aboutContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .aboutContent img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  .about .aboutContent {
    position: relative;
    gap: 15em;
  }
  .about .aboutContent .aboutText p {
    z-index: 1000;
  }
  .about .aboutContent p {
    max-width: 20em;
    padding: 2em;
    text-align: left;
    z-index: 100;
  }
  .about .aboutContent .border {
    display: block;
    position: absolute;
    top: -2em;
    left: -5em;
    width: 32.5em;
    opacity: .65;
    z-index: 0;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---      Landing Creations     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #landingCreation1,
  #landingCreation2 {
    background-image: url(/images/angelabackground2.0.png);
  }
  .title {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    z-index: 10;
  }
  .creations {
    margin-top: -2px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(/images/angelabackground1.0.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 5em;
    padding-top: 5em;
    position: relative;
  }
  .creations:nth-of-type(1) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH";
  }
  .creations h2 {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    z-index: 10;
  }
  .creations .creationPics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5em;
    margin-bottom: 2em;
    z-index: 1;
  }
  .creations p {
    text-align: center;
    padding: 0.5em 1em;
    z-index: 10;
  }
  .creations .button-solid {
    margin: 2em auto;
  }
  .creationPics .middle,
  .creationPics .left,
  .creationPics .right {
    position: relative;
  }
  .creationPics .middle:before,
  .creationPics .left:before,
  .creationPics .right:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 106%;
    background: transparent;
    border: 0.15em solid var(--secondary);
    top: -1.2em;
    left: -0.65em;
    opacity: .5;
    z-index: -1;
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce-1 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce-1 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .creations .creationPics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .creations p {
    width: 80%;
    max-width: 40em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  .creationPics .middleIMG {
    -webkit-transform: translateY(-2.5em);
            transform: translateY(-2.5em);
    margin-top: 2em;
  }
  .creationPics .left {
    position: relative;
  }
  .creationPics .left:before {
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0.15em solid var(--secondary);
    opacity: .5;
    top: -0.65em;
    left: -0.65em;
    z-index: -1;
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .creationPics .middle {
    position: relative;
  }
  .creationPics .middle:before {
    content: '';
    position: absolute;
    display: block;
    height: 88%;
    width: 106%;
    background: transparent;
    border: 0.15em solid var(--secondary);
    top: -1.2em;
    left: -0.65em;
    opacity: .5;
    z-index: -1;
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .creationPics .right {
    position: relative;
  }
  .creationPics .right:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0.15em solid var(--secondary);
    opacity: .5;
    top: 0.35em;
    left: 0.35em;
    z-index: -1;
    -webkit-animation-name: bounce-1;
            animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce-1 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce-1 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}
/*-- -------------------------- -->
<---       testimonials         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .testimonials {
    margin-top: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(/images/angelabackground2.0.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 5em;
    padding-top: 5em;
    position: relative;
  }
  .testimonials .name {
    display: inline-block;
  }
  .testimonials .card {
    margin: 1.5em 0;
    padding: 1em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.25em;
  }
  .testimonials .cardTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .testimonials .card {
    padding-bottom: 2.5em;
    width: 80%;
    max-width: 47.5em;
  }
  .testimonials .card h4 {
    font-size: 1.75em;
  }
  .testimonials .card p {
    font-size: 1.25em;
  }
  .testimonials img {
    height: 36px;
  }
}
/* Small Desktop */
/* Large Desktop */
